/* 
body{
        background-color: rgb(17, 80, 17);
}
.position{

} */
.position{
    /* align-items: center; */
    margin: 200px;
    padding: 100px;
    width: 600px;
    background-color: rgb(255, 0, 0)
}
.in{
    padding: 70px;
   background-color: rgb(48, 176, 174);
   /* align-content: center; */
   /* margin-top: 10px; */
}
/* .inn{
    padding: 150px;
    background-color: blueviolet;
} */
